<!-- register.html -->
{% extends 'base.html' %}

{% block title %}
    Register - RecipeCo
{% endblock title %}

{% block main_content %}
<style scoped>
    body{
        background-color: #DA9871;
        overflow-x: hidden;
    }
    .container{
        all: unset;
    }
    .auth-bg {
        padding-left: 10rem;
        padding-right: 10rem;
    }
</style>

<div class="row">
    <div class="col-md-8 auth-bg">
        <div class="d-flex mb-5 mt-3 align-items-end">
            <!-- Include back button -->
            {% include "../Components/back_button.html" %}

            <div class="ms-3">
                <img src="../../static/dist/img/Logo/Logo.png" alt="RecipeCo logo">
            </div>
        </div>
        <div class="px-5">
            <h3 class="mb-3 auth-header-text">Create account</h3>
            <form action="">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="phonenumber" placeholder="phonenumber">
                    <label for="phonenumber">Phone number</label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="firstname" placeholder="firstname">
                            <label for="firstname">First name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control" id="lastname" placeholder="lastname">
                            <label for="lastname">Last name</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="confirmpassword" placeholder="confirmpassword">
                    <label for="confirmpassword">Confirm password</label>
                </div>
                <div class="">
                    <button class="mb-2 btn-md w-100 auth-btn">Sign up</button>
                    <div class="d-flex">
                        <p class="me-1">Already a user?</p><a href="/login" class="auth-link">Sign in</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4 d-grid align-items-center justify-items-center">
        <div class="auth-text-all">
            <p class="auth-text-title"><i>RecipeCo</i></p>
            <p>Discover recipes from the best chef from all round the world</p>
        </div>
    </div>
</div>
  
{% endblock main_content %}