<!-- chef_mobile_sidenav.html -->
<div class="modal left fade" id="cmsModal" tabindex="-1" aria-labelledby="cmsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <ul>
                        <li>
                            <a href="/chef/dashboard">
                                <i class="bi bi-house-door"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/chef/recipe">
                                <i class="bi bi-view-list"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/chef/appointment">
                                <i class="bi bi-briefcase"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/chef/profile">
                                <i class="bi bi-person"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/chef/analytics">
                                <i class="bi bi-bar-chat"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/chef/settings">
                                <i class="bi bi-gear"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
