<!-- chef_desktop_sidenav.html -->
<ul class="mt-5">
    <li class="mb-4">
        <a href="/chef/dashboard" class="btn w-50">
            <i class="bi bi-house-door" title="Home"></i>
        </a>
    </li>
    <li class="mb-4">
        <a href="/chef/recipe" class="btn w-50">
            <i class="bi bi-view-list" title="Recipe"></i>
        </a>
    </li>
    <li class="mb-4">
        <a href="/chef/appointment" class="btn w-50">
            <i class="bi bi-briefcase" title="Appointments"></i>
        </a>
    </li>
    <li class="mb-4">
        <a href="/chef/profile" class="btn w-50">
            <i class="bi bi-person" title="Profile"></i>
        </a>
    </li>
    <li class="mb-4">
        <a href="/chef/analytics" class="btn w-50">
            <i class="bi bi-bar-chart" title="Analytics"></i>
        </a>
    </li>
    <li class="mb-4">
        <a href="/chef/settings" class="btn w-50">
            <i class="bi bi-gear" title="Settings"></i>
        </a>
    </li>
</ul>