<!-- chef_recipe_card.html -->
<a href="chef/recipe/recipename" class="text-decoration-none">
    <div class="tr-card">
        <div>
            <img src="../../static/dist/img/recipe/placeholder.png" alt="placeholder meal" width="236" height="156">
        </div>
        <div class="mx-2">
            <div class="d-flex justify-content-between mt-1">
                <div class="d-flex">
                    <i class="bi bi-star-fill section-logo me-2"></i>
                    <p class="mb-0 section-text">4.8</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-clock-fill me-2 section-logo"></i>
                    <p class="mb-0 section-text">x mins</p>
                </div>
            </div>
            <div class="mt-1">
                <p class="recipeco-black fs-5 mb-0">Lorem ipsum dolor sit amet consectetur</p>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <p class="mb-0 section-text small">Chef name</p>
                <p class="mb-0 fw-bold recipeco-theme">N 1,000</p>
            </div>
        </div>
    </div>
</a>