<!-- landing_page_navbar.html -->

<!-- mobile -->
<div class="mobile">
    <div class="d-flex py-2 align-items-end">
        <button type="button" class="btn mr-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-justify-left"></i>
        </button>
        <div>
            <a href="/">
                <img src="../../static/dist/img/Logo/Logo.png" alt="RecipeCo logo">
            </a>
        </div>
    </div>

    <!-- Include landing_page_sidenav -->
    {% include "./landing_page_sidenav.html" %}

</div>

<!-- desktop -->
<div class="container">
    <div class="desktop">
        <div class="d-flex py-2 align-items-end justify-content-between">
            <div>
                <a href="/">
                    <img src="../../static/dist/img/Logo/Logo.png" alt="RecipeCo logo">
                </a>
            </div>   
            <div class=""> <!-- Search section -->
                <form action="">
                    <div class="input-group">
                        <input type="text" name="search" placeholder="Search for anything" class="form-control">
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="d-flex">
                <div class=" me-3">
                    <a href="/chef/register" class="dd-link btn btn-outline-secondary">Become a chef</a>
                </div>
                <div class="me-1 border border-secondary"></div>
                <div class="me-3">
                    <a href="/login" class="dd-link btn">Login</a>
                </div>
                <div class="me-3">
                    <a href="/register" class="dd-link btn btn-primary">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
