<!-- chef_home.html -->
{% extends 'base.html' %}

{% block title %}
    Home | RecipeCo
{% endblock title %}

{% block main_content %}

    <!-- Include chef_navbar -->
    {% include "../Components/regular_navbar.html" %}

    <!-- Body -->
    <div class="">
        <div class="d-flex mb-5">
            <div class="col-md-2 desktop">

                <!-- Include chef_desktop_sidenav -->
                {% include "../Components/regular_sidenav.html" %}

            </div>
            <div class="col-md-10">

                <!-- Category section -->
                <div class="mt-3 mb-5">
                    <div class="px-8">
                        {% include "../Components/category_section.html" %}
                    </div>
                </div>

                <!-- Trending section -->
                <div class="mb-5">
                    <p class="fs-5">Trending</p>
                    <div class="d-flex">
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                    </div>
                </div>

                <!-- Order section -->
                <div class="mb-5">
                    <p class="fs-5">Order meal</p>
                    <div class="d-flex">
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                    </div>
                </div>

                <!-- Favourite section -->
                <div class="mb-5">
                    <p class="fs-5">Based on your favourite</p>
                    <div class="d-flex">
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                    </div>
                </div>

                <!-- Premium section -->
                <div class="mb-5">
                    <p class="fs-5">Premium recipes</p>
                    <div class="d-flex">
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                        <div class="col-md-3">
                            <!-- Include recipe card -->
                            {% include "../Components/recipe_card.html" %}
                        </div>
                    </div>
                </div>

                <!--Chef section-->
                <div class="container mb-5">
                    <div class="bg-dark px-3 py-4 rounded text-light">
                        <p class="fs-3 fw-bold">Earn money by listing your recipes</p>
                        <p>Sell your recipes through bookings or deliver the meal</p>
                        <a href="chef/register" class="auth-link">
                            Start listing your recipes
                            <i class="ms-2 bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!--More section-->
                <div class="container mb-5">
                    <p class="fs-5">Top categories</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="subhero-image-1">
                                <a href="" class="btn btn-light subhero-btn">
                                    Indian
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="subhero-image-2">
                                <a href="" class="btn btn-light subhero-btn">
                                    Europe
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="subhero-image-3">
                                <a href="" class="btn btn-light subhero-btn">
                                    Local
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
{% endblock main_content %}





